<div class="form-group">
    <label for="title">Location</label>
    <input required type="text" name="location" id="location" class="form-control">
</div>
<div class="form-group">
    <label for="destination">Destination</label>
    <textarea name="destination" id="destination" class="form-control"></textarea>
</div>
<div class="form-group">
    <label for="time">Time</label>
    <textarea name="time" id="time" class="form-control"></textarea>
</div>

<a href="/articles" class="btn btn-secondary mt-4">Cancel</a>
<button type="submit" class="btn btn-primary mt-4">Save</button>
